.img-main {

    width: 100%;

}

.a-out {

    font-weight: 400;
    margin-right: 20px;

}

.header_top code {

    color: red;
    font-size: 17px;

}

.title-main {

    position: relative;
    z-index: 1000;
    background: aquamarine;
    margin-bottom: -44px;

}

.pre-title {

    font-size: 25px;
    font-weight: 600;
    padding: 0 20px 20px 20px;

}

.title {

    font-size: 30px;
    font-weight: 900;
    padding: 20px;

}

.nickname {

    color: #dc00ff;
    font-size: 34px;
    font-weight: 800;
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.nickname div {

    background: #e9ecefa3;
    padding: 5px 15px;

}

.menu {

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.run {

    color: #1e7e34;
    font-size: 22px;
    font-weight: 500;

}

.run-line h3 {

    text-align: center;

}

.run-line h3 span
{

    font-size: 17px;

}

.run-line {

    margin-bottom: 30px;

}

.menu a + a {
    margin-left: 20px;

}

.addres {

    display: flex;
    flex-direction: column;
    margin-top: 100px;

}

.f-image img {

    border-radius: 50%;
    height: 200px;
    width: 200px;

}

.f-text-lol {

    overflow: scroll;
    padding: 10px 20px;

}

.feedback-item {

    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-bottom: 40px;

}

.from-who {

    position: absolute;
    left: 220px;
    bottom: 0;

}

.f-text {

    width: 100%;
    max-width: 600px;
    margin-left: 20px;
    font-weight: 500;

}

.addres p {

    font-size: 22px;
    font-weight: 500;

}

footer {

    background: #ccc;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

}

footer p {



}

.adm {

    margin: 20px auto;
    display: block;
    text-align: center;
    outline: 0;
    border: 0;
    background: 0;
    color: white;
    padding: 10px 20px;
    font-weight: 400;
    background: green;

}

.adm-h {

    text-align: center;
    color: red;

}

.adm-p {

    color: red;
    text-align: center;

}


.marafon h1, .marafon h3 {

    text-align: center;

}

.image-mar img {

    display: block;
    width: 100%;

}

.image-mar h3 {

    text-align: center;
    margin: 30px 0;

}

.image-mar ul {

    margin: 30px 0;

}

.program-m {

    display: block;
    width: 100%;
    text-align: center;
    color: red;
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;
    margin: 40px 0;

}

.program-of-m h3 {

    font-size: 32px;;

}

.program-of-m p {

font-size: 22px;

}

.program-of-m ul li {

font-size: 22px;

}

.bg-new {

    padding: 50px 0;
    background: #ccc;

}